<div class="container pt-5 mb-5">

    <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-outline-light btn-lg mt-5" (click)="newGame()">Start new game</button>
    </div>

    <div *ngIf="players.length > 1; else register" class="round mt-5">
        <span class="font-monospace">{{roundMessage}}</span>
    </div>

    <ng-template #register>
        <span class="text-white text-center d-flex justify-content-center mt-5">
            Please register at least 2 players
        </span>
    </ng-template>

    <div *ngFor="let match of matches; let matchIndex = index" class="col-md-8 offset-md-2">
        <div class="card mt-4">
            <div class="card-header">
                {{match[0].name}} vs {{match[1].name}}
                <ng-container *ngIf="match[2]">vs {{match[2].name}}</ng-container>
            </div>
            <div class="card-body">
                <div class="d-flex justify-content-center align-items-center">
                    <img class="picture rounded-circle" [src]="match[0].photo.url" alt="Player picture"
                        (click)="win(matchIndex, 0)" [ngClass]="{'looser': match[0].looser}">
                    <img class="versus" src="../../assets/vs.png" alt="">
                    <img class="picture rounded-circle" [src]="match[1].photo.url" alt="Player picture"
                        (click)="win(matchIndex, 1)" [ngClass]="{'looser': match[1].looser}">
                    <ng-container *ngIf="match[2]">
                        <img class="versus" src="../../assets/vs.png" alt="">
                        <img class="picture rounded-circle" [src]="match[2].photo.url" alt="Player picture"
                            (click)="win(matchIndex, 2)" [ngClass]="{'looser': match[2].looser}">
                    </ng-container>
                </div>
                <div class="mt-3">Click on the photo of the winning player</div>
            </div>
        </div>
    </div>

    <div class="d-grid gap-2 col-4 mx-auto mt-5">
        <button *ngIf="!isLastRound" type="button" class="btn btn-light" [disabled]="playedCounter < matches.length"
            (click)="nextRound()">
            Next round
        </button>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="winnerModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Congrats!</h1>
            </div>
            <div class="modal-body">
                <span>The winner is <b>{{winnerPlayer?.name}}</b></span>
                <br>
                <img class="picture rounded-circle" [src]="winnerPlayer?.photo?.url" alt="Player picture">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="newGame()">Start new game</button>
            </div>
        </div>
    </div>
</div>