/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body {
    background-color: #FFF5F2;
    background-position:center;
    background-image: url(/assets/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}